body {font-family: Arial;}

/* Style the tab */


.tab {
    position: relative;
    overflow: hidden;
    width: 95%;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    top:5px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */


.uservalue {
   position: absolute;
    float: right;
    top:1%;
    right: 2%;
}

.logout{
    position: absolute;
    text-decoration: none;
    float: right;
    top:8%;
    right: 2%;
   
}

